/* Docket
 * Main stylesheet
 */
@import "bootstrap";

/* General stylesheets */
body {
  background-color: white;
  .container {
    margin: 56px auto 24px;
  }
}

/* Navbar */
.navbar {
  ul li {
    font-size: 1.2em;
    span { color: white; }
  }
}

/* Images */
.img_with_text{
  text-align: justify;
  max-width: 100%;
}

.main-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}


#winner{
  color: rgb(0,255,0)
}


#draw{
  color: rgb(255,255,0)
}


#loser{
  color: rgb(255,0,0)
}
